* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.tittle {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grid {
    display: flex;
    flex-direction: column;
    height: 700px;
    border: 1px solid black;
    background-color: white;
}

.leftBtns {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
}

button {
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(6, 105, 185);
    color: white;
    font-weight: bold;
}

button.rainbow {
    background-image: url(https://img.freepik.com/vector-gratis/gradiente-orgullo-1_78370-282.jpg);
    background-size: auto 140px;
    text-shadow: 1px 1px 1px black;
}

button.darkening {
    background-image: url(https://img.freepik.com/vector-premium/diseno-color-gris-fondo-negro-abstracto-es-claro-fondo-degradado-blanco_35947-425.jpg);
    background-position: 100% 0%;
}